---
title: "Shade | Bootstrap Template"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />

		<title>{{ title }}</title>

		<link rel="stylesheet" href="css/main.css" media="screen" />

		<!-- google webfonts style sheet -->
		<link
			href="http://fonts.googleapis.com/css?family=Lato"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- pretty photo style sheet -->
		{{!--
		<link rel="stylesheet" href="css/prettyPhoto.css" media="screen" />
		--}}

		<link rel="icon" type="image/x-icon" href="favicon.ico" />
	</head>

	<body>
		{{{ content }}}

		<script src="js/main.js"></script>
	</body>
</html>
