---
title: ""
isDocPage: false
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />

		<title>
			{{#if title}} Shade | {{title}} {{else}} Shade | Bootstrap Template
			{{/if}}
		</title>

		<link rel="stylesheet" href="css/main.css" media="screen" />

		<!-- google webfonts style sheet -->
		<link
			href="http://fonts.googleapis.com/css?family=Lato"
			rel="stylesheet"
			type="text/css"
		/>

		<link rel="icon" type="image/x-icon" href="favicon.ico" />

		{{#if isDocPage}}

		<style>
			.shadeExample {
				position: relative;
				padding: 40px 10px 10px 10px;
				border: 1px dashed #d9d9d9;
				margin-bottom: 20px;
			}
			.shadeExample:before {
				color: #d9d9d9;
				font-weight: bold;
				position: absolute;
				padding: 5px;
				background: #333;
				top: -1px;
				right: -1px;
				content: "Example";
			}
			.shadeDoc {
				width: 250px;
			}
			.shadeDoc.top {
				position: fixed;
				top: 45px;
			}
			.shadeDoc.top.bottom {
				position: absolute;
				bottom: 396px;
				top: auto;
			}
			body {
				position: relative;
			}
			@media (max-width: 767px) {
				.shadeDoc {
					width: auto;
				}
				.shadeDoc.top {
					position: static;
				}
				.shadeDoc.top.bottom {
					position: static;
				}
			}
			@media screen and (min-width: 768px) and (max-width: 980px) {
				.shadeDoc {
					width: 196px;
				}
				.shadeDoc.top {
					position: fixed;
					top: 3px;
				}
				.shadeDoc.top.bottom {
					position: absolute;
					bottom: 478px;
					top: auto;
				}
			}
		</style>

		{{/if}}
	</head>

	<body>
		{{{ content }}}

		<script src="js/main.js"></script>

		{{#if isDocPage}}

		<script>
			$(window).scroll(function () {
				// sticky sidebar
				var windowH = $(this).innerHeight(),
					docH = $(document).height() - $("footer").height();

				if ($(this).scrollTop() > 204) {
					$("#docNav").addClass("top");
				} else {
					$("#docNav").removeClass("top");
				}

				if ($(this).scrollTop() + windowH > docH) {
					$("#docNav").addClass("bottom");
				} else {
					$("#docNav").removeClass("bottom");
				}
			});
		</script>

		{{/if}}
	</body>
</html>
