<footer class="shadeFooter">
	<div class="container">
		<!-- footer container -->
		<div class="row-fluid">
			<!-- footer row -->
			<section class="span4">
				<!-- news section -->
				<div class="row-fluid">
					<!-- news row -->
					<h4>News</h4>

					<hr />

					<div class="media shadeNews">
						<img
							alt="Post Thumbnail"
							class="pull-left media-object"
							src="img/thumb/img1.jpg"
						/>
						<div class="media-body">
							<a href="blog-single.html"
								><h5 class="media-heading">What have you done lately?</h5></a
							>
							<small><i>Wed, 26 June</i></small>
							<p>
								Ut zril latine offendit mea, pro no integre fastidii. Mea ea
								lorem honestatis. Vim an omnium.
							</p>
						</div>
					</div>

					<div class="media shadeNews">
						<img
							alt="Post Thumbnail"
							class="pull-left media-object"
							src="img/thumb/img2.jpg"
						/>
						<div class="media-body">
							<a href="blog-single.html"
								><h5 class="media-heading">New theme available!</h5></a
							>
							<small><i>Tue, 25 June</i></small>
							<p>
								Mea ea lorem honestatis. Mel mnesarchum appellantur
								interpretaris ut.
							</p>
						</div>
					</div>
				</div>
				<!-- end of row fluid -->
			</section>
			<!-- end of news -->

			<section class="span4">
				<!-- link section -->
				<h4>Linkin Garden</h4>

				<hr />

				<ul class="icons-ul">
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Have a Good Day</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Trends of Responsive Design</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">No More Caffein</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Navigation</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Prepended Form Inputs</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#"
							>Let's Make This Longer than Others to Test Row Break</a
						>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Where is My Pen?</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">I am Cool Certainly</a>
					</li>
				</ul>
			</section>
			<!-- end of link -->

			<section class="span4">
				<!-- address section -->
				<h4>Address</h4>

				<hr />

				<address>
					<strong>Shade, Inc.</strong>
					<br />
					Mid Gegerkalong V 59
					<br />
					Bandung, West Java
					<br />
					<br />
					<i class="icon-phone"></i> 022-7766XX
					<br />
					<i class="icon-envelope"></i> shade@email.com
				</address>

				<a href="contact.html" id="smallMap" class="google-map shadeSmallMap">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253572.68357381187!2d108.42049448374364!3d-6.760931271960494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f1d0f69dbc5d5%3A0x301e8f1fc28ba20!2sCirebon%2C%20West%20Java!5e0!3m2!1sen!2sid!4v1707284755432!5m2!1sen!2sid"
						width="370"
						height="100"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe></a
				><!-- small map -->
			</section>
			<!-- end of address -->
		</div>
		<!-- end of row -->

		<hr />

		<span class="pull-left shadeAttrib"
			>Copyright © Shade 2013. Designed by
			<a href="http://hendrijuhanda.my.id">Juhanda</a></span
		><!-- attribution -->

		<span id="backTop" style="line-height: 30px" class="pull-right shadeBackTop"
			><a href="#"
				><i class="icon-fixed icon-double-angle-up"></i> Back to Top</a
			></span
		><!-- bact to top -->
	</div>
	<!-- end of container -->
</footer>
