---
layout: base
title: About
permalink: /about.html
---

{{> header isLoggedIn=true }}

<div id="about" class="container">
	<!-- about -->
	<ul class="breadcrumb">
		<!-- breadcrumb -->
		<li><a href="index.html">Home</a><span class="divider"> /</span></li>
		<li class="active">About</li>
	</ul>

	<div>
		<!-- about content -->
		<img
			style="width: 300px; float: left; margin: 0 20px 20px 0"
			src="img/thumb/img4.jpg"
			alt="About Image"
		/><!-- individual styling, suit your need -->
		<p>
			Mea diam laudem nostrud cu, has ex audire habemus detraxit, eam commune
			forensibus deterruisset ut. Id mea alterum vituperatoribus. Per id duis
			putant vituperata, vero elit in vis. Legere omittam fabellas cu sea. Nec
			exerci feugiat rationibus ei, eu qui graecis argumentum. Ut sit primis
			facilisi temporibus, vim idque mazim detracto an.
		</p>
		<p>
			Per praesent sententiae concludaturque ne. Ei mei sint epicuri albucius.
			Usu propriae adolescens cu, mei in sale ludus utinam, pri eu nostro
			tractatos. Duo sumo sale ut. No viderer noluisse iudicabit has, te est
			reque melius pertinax.
		</p>
		<p>
			Nam novum mundi facete eu, ei vim adipisci tacimates consequat. Sit dicant
			deserunt id, cum ut postea delicata consequat. His id accusam detraxit
			conclusionemque. Cu per erat tation corrumpit. Accumsan pericula no nec,
			vel novum inermis eu. Facilisi expetendis ut pro, cu meliore similique
			his.
		</p>
		<p>
			Vis cu meis reprimique, pro te possit docendi, ut eum dolorem officiis
			singulis. Pro facete detracto id, ne labore nominati erroribus eam. Ei
			essent dissentiunt nec, per cu mandamus suavitate, mea posse fabulas
			laoreet ei. Quo vide efficiendi ei, eu praesent dignissim vix. Ut
			honestatis sadipscing per, ullum quaerendum has eu. No sed timeam offendit
			tractatos, mucius tamquam ea est, vitae option corrumpit sit ei.
		</p>
		<p class="well">
			Vis ea sumo erat mandamus, unum tamquam placerat quo ea, simul iuvaret
			omnesque ut nec. Cibo consequuntur eum et, in pri modus malorum
			dissentiet. Viris detraxit cu nam. Nam ad nostro repudiandae voluptatibus.
			Ut nam summo tempor dissentiet, ea sit adhuc verterem.
		</p>
		<p>
			At est doming iriure quaerendum. Id nibh virtute molestie vix, autem
			tempor has ad. Sed essent adversarium ne, novum inciderint appellantur ad
			est. Et quidam scaevola similique nec, no eum atqui senserit. Duo ex debet
			lobortis, ex vidit dicam recusabo his, hinc prima praesent mei no. Ea pro
			ipsum accusam platonem.
		</p>
	</div>

	<hr />

	<div class="row-fluid">
		<!-- shade team -->
		<div class="span3 thumbnail text-center shadeTeam">
			<!-- personal box -->
			<img src="img/ava/ava1.jpg" alt="Avatar" />
			<h3>Burik Hartjo</h3>
			<p>
				<strong><i>Chief Executive</i></strong>
			</p>
			<p>
				Eu nam unum volumus, an animal partiendo sententiae qui. Ex vix tantas
				gloriatur efficiendi. Te utinam audire constituam mea, cu mei mutat
				mediocritatem.
			</p>
			<hr />
			<ul class="inline shadeSocial">
				<li>
					<a href="http://twitter.com" target="_blank"
						><i class="icon-twitter"></i
					></a>
				</li>
				<li>
					<a href="http://facebook.com" target="_blank"
						><i class="icon-facebook"></i
					></a>
				</li>
				<li>
					<a href="http://plus.google.com" target="_blank"
						><i class="icon-google-plus"></i
					></a>
				</li>
				<li>
					<a href="http://linkedin.com" target="_blank"
						><i class="icon-linkedin"></i
					></a>
				</li>
			</ul>
		</div>

		<div class="span3 thumbnail text-center shadeTeam">
			<!-- personal box -->
			<img src="img/ava/ava2.jpg" alt="Avatar" />
			<h3>Suki Min</h3>
			<p>
				<strong><i>Project Manager</i></strong>
			</p>
			<p>
				Te pri primis voluptua, id doming omnesque per, vix fugit appetere
				mediocrem in. Pro ad mazim delicatissimi, ut exerci vituperata usu, ex
				mucius placerat interpretaris eam.
			</p>
			<hr />
			<ul class="inline shadeSocial">
				<li>
					<a href="http://twitter.com" target="_blank"
						><i class="icon-twitter"></i
					></a>
				</li>
				<li>
					<a href="http://facebook.com" target="_blank"
						><i class="icon-facebook"></i
					></a>
				</li>
				<li>
					<a href="http://plus.google.com" target="_blank"
						><i class="icon-google-plus"></i
					></a>
				</li>
				<li>
					<a href="http://linkedin.com" target="_blank"
						><i class="icon-linkedin"></i
					></a>
				</li>
			</ul>
		</div>

		<div class="span3 thumbnail text-center shadeTeam">
			<!-- personal box -->
			<img src="img/ava/ava3.jpg" alt="Avatar" />
			<h3>Kara Meru</h3>
			<p>
				<strong><i>Creative Director</i></strong>
			</p>
			<p>
				Pri causae alienum constituto at, duo cu rebum placerat imperdiet,
				doming denique ancillae pri at. Constituto philosophia ea sed, no nam
				nobis urbanitas.
			</p>
			<hr />
			<ul class="inline shadeSocial">
				<li>
					<a href="http://twitter.com" target="_blank"
						><i class="icon-twitter"></i
					></a>
				</li>
				<li>
					<a href="http://facebook.com" target="_blank"
						><i class="icon-facebook"></i
					></a>
				</li>
				<li>
					<a href="http://plus.google.com" target="_blank"
						><i class="icon-google-plus"></i
					></a>
				</li>
				<li>
					<a href="http://linkedin.com" target="_blank"
						><i class="icon-linkedin"></i
					></a>
				</li>
			</ul>
		</div>

		<div class="span3 thumbnail text-center shadeTeam">
			<!-- personal box -->
			<img src="img/ava/ava4.jpg" alt="Avatar" />
			<h3>Sun Dong Yang</h3>
			<p>
				<strong><i>Senior Programmer</i></strong>
			</p>
			<p>
				Ex modo falli definitiones nam, pro quis solum docendi ea. In ius purto
				vulputate, mundi dolorem ne usu. Labore oblique cu ius, at mea numquam
				iudicabit, hinc case at vel.
			</p>
			<hr />
			<ul class="inline shadeSocial">
				<li>
					<a href="http://twitter.com" target="_blank"
						><i class="icon-twitter"></i
					></a>
				</li>
				<li>
					<a href="http://facebook.com" target="_blank"
						><i class="icon-facebook"></i
					></a>
				</li>
				<li>
					<a href="http://plus.google.com" target="_blank"
						><i class="icon-google-plus"></i
					></a>
				</li>
				<li>
					<a href="http://linkedin.com" target="_blank"
						><i class="icon-linkedin"></i
					></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- shade team row end -->
</div>
<!-- about end -->

{{> footer }}
