---
layout: base
title: Blog
permalink: /blog-middle.html
---

{{> header isLoggedIn=true }}

<div id="blogMiddle" class="container">
	<!-- blog start -->
	<ul class="breadcrumb">
		<!-- breadcrumb -->
		<li><a href="index.html">Home</a><span class="divider"> /</span></li>
		<li class="active">Blog</li>
	</ul>

	<div class="row-fluid">
		<!-- row container -->
		<aside class="span3">
			<!-- left side bar -->
			<div class="shadeSideBar">
				<!-- sidebar content block -->
				<h4>Recent Posts</h4>

				<hr />

				<ul class="icons-ul">
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">What have you done lately?</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">New theme available!</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">10 useful media queries tricks</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">The first love will never die</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">I need money right now</a>
					</li>
				</ul>
			</div>

			<div class="shadeSideBar">
				<!-- sidebar content block -->
				<h4>Popular Posts</h4>

				<hr />

				<ul class="icons-ul">
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">The first love will never die</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">New theme available!</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">I need money right now</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">What have you done lately?</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">10 useful media queries tricks</a>
					</li>
				</ul>
			</div>

			<div class="shadeSideBar">
				<!-- sidebar content block -->
				<h4>Recent Comments</h4>

				<hr />

				<ul class="icons-ul">
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="blog-single.html#comment">Paula</a> on
						<a href="blog-single.html#comment">What have you done lately?</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="blog-single.html#comment">Boris</a> on
						<a href="blog-single.html#comment">What have you done lately?</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="blog-single.html#comment">Tatang</a> on
						<a href="blog-single.html#comment">The first love will never die</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="blog-single.html#comment">Nande</a> on
						<a href="blog-single.html#comment"
							>10 useful media queries tricks</a
						>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="blog-single.html#comment">Ujang</a> on
						<a href="blog-single.html#comment">I need money right now</a>
					</li>
				</ul>
			</div>
		</aside>

		<div class="span6 shadeBlog">
			<!-- articles container -->
			<article>
				<!-- article content -->
				<h3>What have you done lately?</h3>

				<ul class="inline">
					<!-- blog post meta -->
					<li><i class="icon-calendar"></i> 26 June</li>
					<li><i class="icon-user"></i> Admin</li>
					<li>
						<i class="icon-folder-open"></i>
						<a href="blog-single.html">Web Design</a>
					</li>
					<li>
						<i class="icon-tag"></i>
						<a href="blog-single.html">Responsive Design</a>
					</li>
					<li>
						<i class="icon-comment"></i>
						<a href="blog-single.html#comment">1 comment</a>
					</li>
				</ul>

				<br />

				<p><img src="img/slide/slide1.jpg" alt="Blog Post Thumbnail" /></p>

				<p>
					An fabellas apeirian ullamcorper vel, tollit placerat ex ius. Viris
					vivendo mel ut, his id liber labore definitiones. Nec movet delenit
					iracundia an. Conceptam philosophia eam eu.
				</p>

				<a href="blog-single.html" class="pull-right btn"
					>Read more <i class="icon-double-angle-right"></i
				></a>
			</article>

			<hr />

			<article>
				<!-- article content -->
				<h3>The first love will never die</h3>

				<ul class="inline">
					<!-- blog post meta -->
					<li><i class="icon-calendar"></i> 25 June</li>
					<li><i class="icon-user"></i> Admin</li>
					<li>
						<i class="icon-folder-open"></i>
						<a href="blog-single.html">Web Development</a>
					</li>
					<li>
						<i class="icon-tags"></i> <a href="blog-single.html">PHP</a>,
						<a href="blog-single.html">MySQL</a>
					</li>
					<li><i class="icon-comment-alt"></i> 0 comment</li>
				</ul>

				<br />

				<p><img src="img/slide/slide2.jpg" alt="Blog Post Thumbnail" /></p>

				<p>
					Has ea populo delicata consequat. Te torquatos delicatissimi ius, per
					vitae decore in. Ius possim habemus signiferumque te, ad sea nominavi
					conclusionemque, ea persius legimus conceptam eam. No eum melius
					mediocritatem, ex oblique dissentias duo. Est in corpora delectus,
					deserunt interpretaris mei te.
				</p>

				<a href="blog-single.html" class="pull-right btn"
					>Read more <i class="icon-double-angle-right"></i
				></a>
			</article>

			<hr />

			<article>
				<!-- article content -->
				<h3>New theme available!</h3>

				<ul class="inline">
					<!-- blog post meta -->
					<li><i class="icon-calendar"></i> 24 June</li>
					<li><i class="icon-user"></i> Admin</li>
					<li>
						<i class="icon-folder-open"></i> <a href="blog-single.html">SEO</a>
					</li>
					<li>
						<i class="icon-tag"></i>
						<a href="blog-single.html">Google Analytics</a>
					</li>
					<li>
						<i class="icon-comments"></i>
						<a href="blog-single.html#comment">4 comments</a>
					</li>
				</ul>

				<br />

				<p><img src="img/slide/slide3.jpg" alt="Blog Post Thumbnail" /></p>

				<p>
					Sed viris aperiri reprimique no, eum inani torquatos eu. Admodum
					mentitum phaedrum eam ei, solet facete definitiones ut eam. Sit eu
					fabulas legimus. Et epicurei constituam qui, vis probo decore
					gloriatur ei.
				</p>

				<a href="blog-single.html" class="pull-right btn"
					>Read more <i class="icon-double-angle-right"></i
				></a>
			</article>

			<hr />

			<div class="pagination pull-right">
				<!-- pagination -->
				<ul>
					<li class="disabled">
						<a href="#"><i class="icon-double-angle-left"></i></a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#"><i class="icon-double-angle-right"></i></a>
					</li>
				</ul>
			</div>

			<div class="clearfix"></div>
		</div>
		<!-- articles container end -->

		<aside class="span3">
			<!-- right side bar -->
			<div class="shadeSideBar">
				<!-- sidebar content block -->
				<h4>Categories</h4>

				<hr />

				<ul class="icons-ul">
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Web Design</a> (11)
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">Web Development</a> (9)
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">SEO</a> (13)
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">CMS</a> (6)
					</li>
				</ul>
			</div>

			<div class="shadeSideBar">
				<!-- sidebar content block -->
				<h4>Archive</h4>

				<hr />

				<ul class="icons-ul">
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">June 2013</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">May 2013</a>
					</li>
					<li>
						<i class="icon-li icon-double-angle-right"></i
						><a href="#">April 2013</a>
					</li>
				</ul>
			</div>
		</aside>
	</div>
	<!-- row end -->
</div>
<!-- blog end -->

{{> footer }}
