---
layout: base
---

{{> header isLoggedIn=false }}

<div id="slide" class="carousel slide shadeSlide">
	<!-- slider -->
	<div class="carousel-inner">
		<div class="item active">
			<!-- slide content -->
			<img src="img/slide/slide4.jpg" alt="Slide Image" />

			<div class="container">
				<!-- containing slide caption -->
				<div class="carousel-caption">
					<h1>Example headline</h1>
					<p class="lead">
						Vix in eirmod evertitur abhorreant, et quidam nominavi mel. Habeo
						option tractatos ne sit, nam hinc sale affert ei, pri ea vidisse
						iudicabit.
					</p>
					<p class="pull-right"><a href="sign-up.html">Sign up today</a></p>
				</div>
			</div>
		</div>

		<div class="item">
			<!-- slide content -->
			<img src="img/slide/slide2.jpg" alt="Slide Image" />
			<div class="container">
				<!-- containing slide caption -->
				<div class="carousel-caption">
					<h1>Another Example Headline</h1>
					<p class="lead">
						Ut inani viris solet vim, ut duis malorum consetetur eum. Vim meis
						tollit delicatissimi cu, duo case nonumy noster in.
					</p>
					<p class="pull-right"><a href="about.html">Learn more</a></p>
				</div>
			</div>
		</div>

		<div class="item">
			<!-- slide content -->
			<img src="img/slide/slide3.jpg" alt="Slide Image" />
			<div class="container">
				<!-- containing slide caption -->
				<div class="carousel-caption">
					<h1>One More for Good Measure</h1>
					<p class="lead">
						Exerci ornatus persecuti at pro, at mel detracto gloriatur. Ne eum
						accusam voluptua argumentum, alienum similique consetetur eum et.
					</p>
					<p class="pull-right"><a href="gallery.html">Browse gallery</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- end of carousel-inner -->

	<div class="container">
		<!-- slide control -->
		<a class="carousel-control left" href="#slide" data-slide="prev"
			><i class="icon-chevron-left"></i
		></a>
		<a class="carousel-control right" href="#slide" data-slide="next"
			><i class="icon-chevron-right"></i
		></a>
	</div>
</div>
<!-- end of slider -->

<div id="main" class="container">
	<!-- main content -->
	<section class="hero-unit shadeHero">
		<!-- hero unit -->
		<h1>Hi, what have you done lately?</h1>
		<p>
			Oratio dicunt labores ut mea, duo brute illum ad. In quo libris accusam,
			est erat malis detraxit ad. Et per erant reprehendunt, ad nostrud impedit
			delicata eos.
		</p>
		<a href="about.html" class="pull-right"><i>Learn More...</i></a>
	</section>
	<!-- end of hero unit -->

	<section>
		<!-- service preview -->
		<h2 class="text-center"><span class="shadeBlock">Services</span></h2>
		<!-- service section header -->

		<hr class="shadeStrip" />

		<div class="row-fluid shadeServices">
			<!-- service boxes row -->
			<div class="span3 text-center shadeItem">
				<!-- service box -->
				<h3>Web Design</h3>
				<p><img src="img/item/item1.png" alt="Service Preview" /></p>
				<p>
					Eam eu nulla facete discere. Sea ea petentium abhorreant, vis aliquip
					voluptatum appellantur et, u Oratio dicunt labores ut mea, duo brute.
				</p>
				<a href="service.html#service1" class="btn">Details</a>
			</div>

			<div class="span3 text-center shadeItem">
				<!-- service box -->
				<h3>Web Dev</h3>
				<p><img src="img/item/item2.png" alt="Service Preview" /></p>
				<p>
					Te habeo vivendo sea, at mea mucius maluisset. Nemore impetus pri id.
					Sea quando facilisi argumentum in, oblique deterruisset usu ea.
				</p>
				<a href="service.html#service2" class="btn">Details</a>
			</div>

			<div class="span3 text-center shadeItem">
				<!-- service box -->
				<h3>SEO</h3>
				<p><img src="img/item/item3.png" alt="Service Preview" /></p>
				<p>
					Omnes homero cu vel, ad clita mediocrem ius. Ei vidit convenire
					comprehensam sit, id est probatus dissentiet. Ne usu principes
					prodesset.
				</p>
				<a href="service.html#service3" class="btn">Details</a>
			</div>

			<div class="span3 text-center shadeItem">
				<!-- service box -->
				<h3>CMS</h3>
				<p><img src="img/item/item4.png" alt="Service Preview" /></p>
				<p>
					Has id unum graeco volutpat. Nec ea tation placerat. Noster utroque
					singulis ut mea, laudem comprehensam ut eos, et usu assum viderer
					adipiscing.
				</p>
				<a href="service.html#service4" class="btn">Details</a>
			</div>
		</div>
		<!-- service boxes row end -->
	</section>
	<!-- service preview end -->

	<section class="row-fluid shadeMainTesti">
		<!-- testimonials -->
		<div class="span4 shadeTesti">
			<!-- testimonial content -->
			<div class="media">
				<img
					style="width: 64px"
					class="pull-left media-object"
					src="img/ava/ava1.jpg"
					alt="Avatar"
				/><!-- individual styling, suit your needs -->
				<div class="media-body">
					<p>
						<i class="icon-quote-left"></i> Nostrud voluptua mnesarchum pri no.
						Rebum iisque est id. Ius te munere ceteros lucilius. Sea vivendo
						gubergren et, ut pri elit qualisque.
					</p>
					<p class="pull-right"><b>Burik Hartjo</b>, <em>Shade, Inc.</em></p>
				</div>
			</div>
		</div>

		<div class="span4 shadeTesti">
			<!-- testimonial content -->
			<div class="media">
				<img
					style="width: 64px"
					class="pull-left media-object"
					src="img/ava/ava2.jpg"
					alt="Avatar"
				/><!-- individual styling, suit your needs -->
				<div class="media-body">
					<p>
						<i class="icon-quote-left"></i> Omnesque constituto at vix, quaestio
						vulputate pertinacia vim ad. Et duo rebum ipsum philosophia. Ex eam
						vidisse feugait, ex eos debet torquatos cotidieque.
					</p>
					<p class="pull-right"><b>Suki Min</b>, <em>Shade, Inc.</em></p>
				</div>
			</div>
		</div>

		<div class="span4 shadeTesti">
			<!-- testimonial content -->
			<div class="media">
				<img
					style="width: 64px"
					class="pull-left media-object"
					src="img/ava/ava3.jpg"
					alt="Avatar"
				/><!-- individual styling, suit your needs -->
				<div class="media-body">
					<p>
						<i class="icon-quote-left"></i> Zril abhorreant signiferumque in
						mei. Duo at quis blandit urbanitas.
					</p>
					<p class="pull-right"><b>Kara Meru</b>, <em>Shade, Inc.</em></p>
				</div>
			</div>
		</div>
	</section>
	<!-- testimonials end -->

	<div>
		<!-- recent projects -->
		<h2 class="text-center"><span class="shadeBlock">Recent Projects</span></h2>
		<!-- recents projects header -->

		<hr class="shadeStrip" />

		<div class="shadeProjects">
			<ul class="thumbnails shadeProGrid">
				<!-- project gallery -->
				<li class="span3">
					<!-- gallery content -->
					<a href="project.html" class="thumbnail">
						<img alt="Project Image" src="img/thumb/img1.jpg" />
						<div>
							<!-- project description preview -->
							<h5>Project Title</h5>
							<p>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo.
							</p>
						</div>
					</a>
				</li>
				<li class="span3">
					<!-- gallery content -->
					<a href="project.html" class="thumbnail">
						<img alt="Project Image" src="img/thumb/img2.jpg" />
						<div>
							<!-- project description preview -->
							<h5>Project Title</h5>
							<p>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo.
							</p>
						</div>
					</a>
				</li>
				<li class="span3">
					<!-- gallery content -->
					<a href="project.html" class="thumbnail">
						<img alt="Project Image" src="img/thumb/img3.jpg" />
						<div>
							<!-- project description preview -->
							<h5>Project Title</h5>
							<p>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo.
							</p>
						</div>
					</a>
				</li>
				<li class="span3">
					<!-- gallery content -->
					<a href="project.html" class="thumbnail">
						<img alt="Project Image" src="img/thumb/img4.jpg" />
						<div>
							<!-- project description preview -->
							<h5>Project Title</h5>
							<p>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
								scelerisque ante sollicitudin commodo.
							</p>
						</div>
					</a>
				</li>
			</ul>
			<!-- portfolio gallery end -->
		</div>
		<!-- end .shadeProjects -->
	</div>
	<!-- recent projects end -->
</div>
<!-- main end -->

{{> footer }}
