---
layout: base
title: Portfolio
permalink: /portfolio.html
---

{{> header isLoggedIn=true }}

<div id="portfolio" class="container">
	<!-- portfolio -->
	<ul class="breadcrumb">
		<!-- breadcrumb -->
		<li><a href="index.html">Home</a><span class="divider"> /</span></li>
		<li class="active">Portfolio</li>
	</ul>

	<div class="shadeMixControl">
		<!-- mixitup control -->
		<ul class="inline">
			<li class="filter active" data-filter="all">Show All</li>
			<li class="filter" data-filter="category1">Web Design</li>
			<li class="filter" data-filter="category2">Web Dev</li>
			<li class="filter" data-filter="category3">SEO</li>
			<li class="filter" data-filter="category4">CMS</li>
			<li>|</li>
			<li class="sort active" data-sort="default" data-order="desc">Newest</li>
			<li class="sort" data-sort="data-cat" data-order="asc">Oldest</li>
		</ul>
	</div>

	<hr />

	<ul id="grid" class="thumbnails shadeProGrid">
		<!-- project gallery -->
		<li class="span3 mix category1 category4 mix_all" data-cat="1">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img1.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category2 mix_all" data-cat="2">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img2.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category3 mix_all" data-cat="3">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img3.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category3 mix_all" data-cat="4">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img1.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category1 mix_all" data-cat="5">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img4.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category2 mix_all" data-cat="6">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img1.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category1 category2 category3 mix_all" data-cat="7">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img2.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category4 mix_all" data-cat="8">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img3.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category3 mix_all" data-cat="9">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img1.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
		<li class="span3 mix category4 category3 mix_all" data-cat="10">
			<!-- gallery content -->
			<a href="project.html" class="thumbnail">
				<img alt="Project Image" src="img/thumb/img2.jpg" />
				<div>
					<!-- project description preview -->
					<h5>Project Title</h5>
					<p>
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
						scelerisque ante sollicitudin commodo.
					</p>
				</div>
			</a>
		</li>
	</ul>
	<!-- portfolio gallery end -->
</div>
<!-- portfolio end -->

{{> footer }}
