---
layout: base
title: Project
permalink: /project.html
---

{{> header isLoggedIn=true }}

<div id="project" class="container">
	<!-- project start -->
	<ul class="breadcrumb">
		<!-- breadcrumb -->
		<li><a href="index.html">Home</a><span class="divider"> /</span></li>
		<li>
			<a href="portfolio.html">Portfolio</a><span class="divider"> /</span>
		</li>
		<li class="active">Project</li>
	</ul>

	<div class="row-fluid">
		<!-- project content row -->
		<div class="span7">
			<!-- project illustration -->
			<a href="img/item/item0.jpg" class="prettyphoto"
				><img src="img/item/item0.jpg" alt="Project Illustration"
			/></a>
		</div>

		<div class="span5">
			<!-- project description -->
			<h3>Shade Bootstrap Template</h3>

			<p>
				Sonet doctus nec ne, animal option definiebas sit an. Duo ad dicit
				partiendo. No mundi vocent pri, ea saepe intellegat vel. Ex has doctus
				argumentum. Ei pri detracto albucius, etiam tibique sed ex.
			</p>

			<p>
				Eu iudicabit assentior abhorreant usu, tantas accusata conclusionemque
				in has, no his comprehensam definitionem. Choro lobortis ius ea, lorem
				inimicus adolescens ei ius. Nec ancillae mentitum sensibus ne, et
				luptatum adolescens ius. Dicam commodo periculis eum ex. Dicit
				constituam definitionem id nam, ex nonumes percipitur definitionem vel.
				Cu dicat option deseruisse sea, id usu dicam consul partiendo, cu sed
				everti indoctum complectitur. Vim at accusamus cotidieque adversarium.
			</p>
		</div>
	</div>
	<!-- row end -->

	<hr />

	<div class="row-fluid">
		<!-- another row -->
		<div class="span7">
			<!-- item value bar -->
			<div class="row-fluid">
				<div class="span3">
					<!-- value factor -->
					<strong class="pull-right">Attractiveness</strong>
				</div>
				<div class="span9">
					<!-- bar -->
					<div
						style="position: relative"
						class="progress progress-striped active"
					>
						<div class="bar bar-success" style="width: 30%"></div>
						<div class="bar bar-warning" style="width: 35%">
							<strong>6.5</strong>
						</div>
						<div class="bar bar-danger" style="width: 0%"></div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span3">
					<!-- value factor -->
					<strong class="pull-right">Accessibility</strong>
				</div>
				<div class="span9">
					<!-- bar -->
					<div class="progress progress-striped active">
						<div class="bar bar-success" style="width: 30%"></div>
						<div class="bar bar-warning" style="width: 45%"></div>
						<div class="bar bar-danger" style="width: 6%">
							<strong>8.1</strong>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span3">
					<!-- value factor -->
					<strong class="pull-right">Simplicity</strong>
				</div>
				<div class="span9">
					<!-- bar -->
					<div class="progress progress-striped active">
						<div class="bar bar-success" style="width: 30%"></div>
						<div class="bar bar-warning" style="width: 43%">
							<strong>7.3</strong>
						</div>
						<div class="bar bar-danger" style="width: 0%"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- item value bar end -->

		<div class="span5 shadeTesti">
			<!-- client comment -->
			<div class="media">
				<img
					style="width: 64px"
					class="pull-left media-object"
					src="img/ava/ava3.jpg"
					alt="Avatar"
				/><!-- individual styling, suit your needs -->
				<div class="media-body">
					<p>
						<i class="icon-quote-left"></i> This looks nice. Clean and fully
						responsive in all media. Good enough for starter :)
					</p>
					<p class="pull-right"><b>Kara Meru</b>, <em>client</em></p>
				</div>
			</div>
		</div>
		<!--client comment end -->
	</div>
	<!-- another row end -->
</div>
<!-- project end -->

{{> footer }}
